$desk: 100/1920;

._storage_ {
  padding-top: 30px;
  padding-left: 30px;
  min-height: calc(100vh - 70px);
  .card_size {
    width: 28vw;
    position: relative;
    padding-bottom: 6vw;
    .dd-label {
      font-size: 0.6vw;
      margin-bottom: 8px;
    }
  }
  .counter_wrapper_ {
    margin-left: 1.5vw;
    .c_holder {
      .counter {
        margin-bottom: 0;
      }
    }
  }
  //   .__input__ {
  //     margin-bottom: 1.5625vw;
  //     .input_style {
  //       padding-left: 2.3vw;
  //       font-size: 0.78125vw !important;
  //     }
  //   }
  //   #currentTime {
  //     font-size: 12px;
  //   }
}
