.vscode

__pycache__
*.log

data
kong_data
usecase_db
mounts
config
html

env.json
host.service
interfaces
ip.txt
sampledocker.json
sampleswarm.toml
get-docker.sh
package-lock.json

envs
venv
ref_image
baseservice

!static_server/theme/default/*
!static_server/static_image/image_not_available.png
static_server