.password_popup {
  top: 0;
  left: 0;
  z-index: 20;
  backdrop-filter: blur(1vw);
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .pass_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    background: var(--body-background);
    align-self: center;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    box-shadow: var(--card-box-shadow);
    h1 {
      text-align: center;
      margin: 0.5vw 0;
      margin-top: 0;
      font-size: 0.9375vw;
      font-family: PoppinsBold;
      word-break: break-word;
    }
    .close_icon {
      position: absolute;
      right: 5px;
      top: 5px;
      color: var(--text);
      cursor: pointer;
    }
    .close_icon:active {
      animation: press 0.2s 1 linear;
    }
    .__input__ {
      width: 100%;
      margin-bottom: 1.5625vw;
      label {
        font-size: 0.78125vw;
        color: var(--text);
      }
      .input_style {
        width: 100%;
        box-shadow: var(--box-shadow);
        padding-left: 10px;
      }
    }
  }
}
