$desk: 100/1920;

.__auth_accesskey__ {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  .auth_form {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    height: 90%;
    padding-top: 1vw;
    .input_style {
      width: 100%;
    }
    .signup-text {
      color: #818181;
      font-size: 16 * $desk + vw;
      text-align: right;
      margin: 20px 0;
      span {
        color: #309bdb;
        text-decoration: underline;
      }
    }
  }
  ._success_ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    h1 {
      font-size: 35 * $desk + vw;
      color: #0054b0;
      margin: 15px 0;
      font-weight: 400;
    }
    .text {
      font-size: 22 * $desk + vw;
      padding: 0 20px;
      text-align: center;
      color: #404040;
    }
  }
}
